name: SwiftLint

on:
  pull_request:
  workflow_dispatch:

jobs:
  swiftlint:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:0.58.2
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Run swiftlint
        run: swiftlint --strict --reporter github-actions-logging
